*{
    margin: 0;
}

.navbar-auth{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    background-color:#22293B ;
    display: flex;
    justify-content: space-between;
}
.auth-link{
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    font-family: robotomedium;
    color: white;
}
.logo{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.auth-link:hover{
    background-color: rgb(196, 165, 226);
    color: rgb(0, 0, 0);
}
@media (min-width: 992px) {
 
}
@media (min-width: 768px) and (max-width: 991px) {
    
}
@media (max-width: 767px) {
    
    .auth-link{
        font-size: 13px;
    }
}
