*{
    margin: 0;
    box-sizing: border-box;
}
.email{
    min-height: 100vh;
    background-color: #F9F9FA;

}
.email .logo{
   
    padding: 10px;
}
.email .logo img{
    height: 60px;
}
.email .block{
    display: flex;
    justify-content: center;
}
.email .block .form{
    box-sizing: border-box;
   
    background-color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.email .block .form .heading{
    font-family: 'IBMPlexSans';
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 16px
}
.email .block .form .para{
    font-family: 'IBMPlexSans';
    font-weight: normal;
    font-style: normal;
    margin-top: 10px;
    font-size: 14px
}
.email .block .form .submit-btn{
    width: 100%;
    margin-top: 20px;
    border: none;
    background: none;
    font-weight: bold;
    font-style: normal;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgb(19,11,149);
    background: linear-gradient(90deg, rgba(19,11,149,1) 0%, rgba(5,5,186,1) 47%, rgba(0,66,255,1) 100%);
}

.resend-btn{
    background: none;
    border: none;
    color: blue;
    font-family: 'IBMPlexSans';
}

@media only screen and (max-width: 400px) and (min-width:100px) {
   
    .email .logo img{
        height: 60px;
    }
}
@media only screen and (max-width: 600px) and (min-width:206px) {
    .email .block .form{
        width: 90%;
    }
    .email .block .form .para{
        font-size: 12px;
    }
    .email .block .form .heading{
        font-size: 14px;
    }
    .email .block .form input{
        width: 30px !important;
        height: 30px !important;
        margin: 2px !important;
        font-size: 12px !important;
    }
    .email .block .form button{
        font-size: 12px;
    }
  }

  @media only screen and (max-width:206px){
    .email .block .form{
        width: 100%;
    }
    
  }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .email .block .form{
        width: 50%;
    }
    .email .block .form .para{
        font-size: 12px;
    }
    .email .block .form .heading{
        font-size: 14px;
    }
    .email .block .form input{
        width: 30px !important;
        height: 30px !important;
        margin: 5px !important;
        font-size: 12px !important;
    }
    .email .block .form button{
        font-size: 12px;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .email .block .form{
        width: 40%;
    }
    .email .block .form .para{
        font-size: 13px;
    }
    .email .block .form .heading{
        font-size: 15px;
    }
    .email .block .form input{
        width: 30px !important;
        height: 30px !important;
        margin: 6px !important;
        font-size: 13px !important;
    }
    .email .block .form button{
        font-size: 13px;
    }
  }
  
  @media only screen and (min-width: 1025px) {
    .email .block .form{
        width: 40%;
    }
  
  
    .email .block .form input{
        width: 40px !important;
        height: 40px !important;
        margin: 6px !important;
       
    }
   
  }
  