@font-face {
  font-family: robotoblack;
  src: url('/Roboto/Roboto-Black.ttf');
}
@font-face {
  font-family: robotoblackitalic;
  src: url('/Roboto/Roboto-BlackItalic.ttf');
}
@font-face {
  font-family: robotobold;
  src: url('/Roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: robotobolditalic;
  src: url('/Roboto/Roboto-BoldItalic.ttf');
}
@font-face {
  font-family: robotoitalic;
  src: url('/Roboto/Roboto-Italic.ttf');
}
@font-face {
  font-family: robotolight;
  src: url('/Roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: robotolightitalic;
  src: url('/Roboto/Roboto-LightItalic.ttf');
}
@font-face {
  font-family: robotomedium;
  src: url('/Roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: robotomediumitalic;
  src: url('/Roboto/Roboto-MediumItalic.ttf');
}
@font-face {
  font-family: robotoregular;
  src: url('/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: robotothin;
  src: url('/Roboto/Roboto-Thin.ttf');
}
