.navbar{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}
.navbar .nav-link{
    display: flex;

    align-items: center;
}
.nav-link a{
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
    color: blue;
    font-family: 'IBMPlexSans';
}
.nav-link a:hover{
    border-bottom: 1.5px solid grey;
}
.navbar img{
    height: 70px;
}

@media only screen and (max-width: 400px) and (min-width:100px) {
    .nav-link a{
        font-size: 14px;
        margin: 5px;
    }
    .navbar img{
        height: 60px;
    }
}
  
